/public
/resources
assets/jsconfig.json
.hugo_build.lock
dist
storage
.env
*.log
*.tsbuildinfo
coverage.out
*.coverprofile
apps/api/whitebox-cover
apps/api/$coveragePath
node_modules
.tools
apps/admin/dist
apps/admin/node_modules
apps/site/public
apps/site/resources
apps/site/.hugo_build.lock
